[submodule "govendor"]
	path = govendor
	url = http://github.com/cloudfoundry/govendor.git
[submodule "vendor/integration-test-support"]
	path = vendor/integration-test-support
	url = https://github.com/cloudfoundry/integration-test-support.git
